@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font: "Inter", sans-serif;
  --fontStyle: normal;
  --inFont: 12px;

  --codeOne: #ffffff;
  --codeTwo: #ebebeb;
  --codeThree: #a1a1a1;
  --codeFour: #000000;

  --trans: all 0.4s ease-in-out;
  --brOne: 3px;
  --brTwo: 5px;
  --brFour: 10px;
  --brThree: 15px;
  --border: 1px solid var(--codeTwo);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

* {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  font-family: var(--font);
  font-size: var(--inFont);
  font-style: var(--fontStyle);
  text-transform: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
}

body {
  background: var(--codeOne);
}

a {
  cursor: pointer;
  color: var(--codeFour);
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--codeFour);
}

select,
textarea,
input {
  padding: 10px;
  border-radius: var(--brOne);
  width: 100%;
  border: 1px solid var(--codeFour);
  color: var(--codeFour);
  background: transparent;
}

select,
textarea,
input::placeholder {
  color: var(--codeThree);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type="checkbox"] {
  appearance: none;
  /* For modern browsers */
  -webkit-appearance: none;
  /* For Safari */
  -moz-appearance: none;
  /* For Firefox */
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: black;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  color: white;
  font-size: 14px;
  position: absolute;
  left: 3.5px;
  top: 0px;
}

select::-webkit-scrollbar {
  width: 15px;
}

select::-webkit-scrollbar-thumb {
  background-color: var(--codeThree);
  border-radius: var(--brFour);
}

button {
  width: fit-content;
  cursor: pointer;
  transition: var(--trans);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--brOne);
  background: var(--codeFour);
  color: var(--codeOne);
  border: 1px solid var(--codeFour);
  padding: 10px 30px;
}

select,
textarea,
input,
button:focus {
  outline: none;
}



/* ////////////// General styling ////////////// */

.wh {
  width: 100%;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.centertext {
  text-align: center;
}

/* gaps */

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.g15 {
  gap: 15px;
}

.g20 {
  gap: 20px;
}

/* flex */

.flex {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.start {
  align-items: start;
  justify-content: start;
}

.end {
  align-items: end;
  justify-content: end;
}

.center-start {
  align-items: center;
  justify-content: start;
}

.start-center {
  align-items: start;
  justify-content: center;
}

.end-start {
  align-items: end;
  justify-content: start;
}

.start-end {
  align-items: start;
  justify-content: end;
}

.center-end {
  align-items: center;
  justify-content: end;
}

.end-center {
  align-items: end;
  justify-content: center;
}

.center-space {
  align-items: center;
  justify-content: space-between;
}

/* outlines */

.outline1 {
  outline: 1px solid blue;
}

.outline2 {
  outline: 1px solid limegreen;
}

.outline3 {
  outline: 1px solid orange;
}

/* fonts */

.heading {
  font-size: 26px;
  font-weight: 800;
}

.headingSmol {
  font-size: 18px;
  font-weight: 600;
}

.textBig {
  font-size: 14px;
  font-weight: 400;
}

.text {
  font-size: 12px;
  font-weight: 400;
}

.textSmol {
  font-size: 10px;
  font-weight: 400;
}

.error {
  font-size: 10px;
  font-weight: 400;
  color: red;
  width: 100%;
  padding: 0px 10px;
}

.failed {
  filter: drop-shadow(5px 5px 3px rgb(255, 166, 166));
  color: rgb(255, 0, 0);
}

.success {
  filter: drop-shadow(5px 5px 3px rgb(167, 255, 167));
  color: rgb(0, 189, 0);
}

/* hover disabled */

.hover {
  cursor: pointer;
  opacity: 1;
  transition: var(--trans);
}

.hover:hover {
  opacity: 0.6;
}


/* ////////////// UI styling ////////////// */
/* popup */
.popup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.732);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1;
}

.popup-wrapper {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  gap: 5px;
  background: white;
  padding: 15px;
  filter: drop-shadow(7px 7px 10px rgb(48, 48, 48));
}

.popup-btn {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-btn .popup {
  opacity: 0;
  bottom: -10px;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

.popup-btn.clicked .popup {
  opacity: 1;
  bottom: 0;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* header & footer */
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: var(--codeTwo);
}

.mlink {
  display: none;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  border-bottom: none !important;
}

.hover-div {
  width: 120px;
  background-color: var(--codeOne);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1), -4px 0px 6px -2px rgba(0, 0, 0, 0.1), 4px 0px 6px -2px rgba(0, 0, 0, 0.1);
  color: var(--codeOne);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 10px;
  top: 49px;
  left: 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
  border-radius: var(--brOne);
}

.hover-div.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hover-div a {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--codeThree);
  transition: var(--trans);
}

.hover-div a:hover {
  color: var(--codeFour);
}

/* page specific */
/* login & signup & otp & forgot password & profile */
.authBox {
  width: 100%;
  max-width: 500px;
  gap: 15px;
  padding: 20px;
  border: var(--border);
  border-radius: var(--brThree);
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 13px #d4d4d4, -5px -5px 13px #ffffff;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.otpBox {
  width: 50px;
}

.password span {
  position: absolute;
  right: 10px;
  top: 25%;
}

.password span .MuiSvgIcon-root {
  color: var(--codeThree);
  cursor: pointer;
}

.profile {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.subProfile {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  padding: 10px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.subProfileTwo {
  width: 100%;
  min-width: 300px;
  padding: 10px;
  gap: 30px;
}

.showGrid {
  height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin-top: 20px;
  gap: 10px;
  overflow-x: scroll;
}

.showGrid::-webkit-scrollbar {
  width: 5px;
}

.showGrid::-webkit-scrollbar-thumb {
  background-color: var(--codeTwo);
  border-radius: var(--brFour);
}


.showItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.showItem img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.showItem .textSmol {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.pagebox5 {
  width: 100%;
  gap: 5px;
}

.pagebox10 {
  width: 100%;
  gap: 10px;
}

.pagebox20 {
  width: 100%;
  gap: 20px;
}

.locationDropdown {
  position: absolute;
  z-index: 1;
  background: var(--codeOne);
  border: 1px solid #ccc;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.interestsCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.interests {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.interests p {
  padding: 10px;
  background-color: var(--codeTwo);
  border-radius: 5px;
}

.links {
  margin-top: 10px;
  width: 100%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.links a img {
  width: 30px;
  height: 30px;
  filter: saturate(0);
}

/* pagination */
.pagination {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.pagination button:disabled {
  background-color: var(--codeTwo);
  color: var(--codeThree);
  border: 1px solid var(--codeThree);
  cursor: not-allowed;
}

.pagination span {
  font-size: 1.2rem;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--codeOne);
  color: var(--codeFour);
}



/* discover page  */
.discoverGrid {
  width: 100%;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.disGridItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
}
.subdetail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.subdetail .MuiSvgIcon-root {
  width: 18px;
  height: 18px;
}

.likeButton{
  display: flex;
  align-items: center;
  justify-content: center;
}
.likeButton .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.likeButton .MuiSvgIcon-root.disabled {
  cursor: not-allowed; 
  opacity: 0.5; 
}

.linksTwo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linksTwo div a img {
  width: 20px;
  height: 20px;
  filter: saturate(0);
}

.interestsTwo {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.interestsTwo p {
  padding: 5px;
  background-color: var(--codeTwo);
  border-radius: 5px;
}

/* chat styling */
.chat-component {
  height: 500px;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--brTwo);
  background-color: var(--codeTwo);
}

.reciever {
  width: 100%;
  gap: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: var(--brTwo);
  background-color: var(--codeTwo);
  margin-bottom: 10px;
}
.reciever .MuiSvgIcon-root {
  width: 18px;
  height: 18px;
  color: gray;
}

.chatBody {
  width: 100%;
  height: 400px;
  gap: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: var(--brTwo);
  background-color: var(--codeOne);
}
.chatBody::-webkit-scrollbar {
  width: 5px;
}
.chatBody::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.chatBody::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
  border: 2px solid #f1f1f1;
}
.chatBody::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.senderChat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.recieverChat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.senderMsg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2px;
  padding: 4px 10px;
  background-color: rgb(133, 236, 133);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;
}
.recieverMsg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
  padding: 4px 10px;
  background-color: rgb(152, 216, 255);
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.timestamp {
  font-size: 8px;
  font-weight: 400;
  color: gray;
}

.sendInput {
  width: 100%;
  height: 50px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--brTwo);
}
.sendInput input {
  border-radius: var(--brTwo);
  background-color: var(--codeOne);
  border: none;
  padding: 10px;
}
.sendInput input::placeholder {
  text-transform: capitalize;
  color: var(--codeFour);
}
.sendInput button {
  border-radius: var(--brTwo);
  padding: 9px 20px;
}



/* common */
.page {
  background: var(--codeOne);
  width: 100%;
  min-height: 100vh;
  padding: 100px 100px 40px 100px;
  gap: 30px;
}

.minBox {
  width: 100%;
  gap: 5px;
}


/* responsiveness */
@media screen and (max-width: 1200px) {
  /* Styles for screens up to 1200px */
}

@media screen and (max-width: 1024px) {
  /* Styles for screens up to 1024px */
}

@media screen and (max-width: 960px) {

  input[type="checkbox"]:checked::before {
    content: '✔';
    color: white;
    font-size: 14px;
    position: absolute;
    left: 3.5px;
    top: -2px;
  }

  select,
  textarea,
  input {
    padding: 5px 10px;
  }

  button {
    padding: 5px 20px;
  }

  .heading {
    font-size: 20px;
    font-weight: 800;
  }

  .headingSmol {
    font-size: 15px;
    font-weight: 600;
  }

  .textBig {
    font-size: 13px;
    font-weight: 400;
  }

  .page {
    padding: 100px 15px 20px 15px;
    gap: 20px;
  }

  .otpBox {
    width: 30px;
  }

  .password span {
    position: absolute;
    right: 10px;
    top: 15%;
  }
}

@media screen and (max-width: 840px) {
  .main-div {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .profile {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .pagination {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .page {
    padding: 50px 15px 20px 15px;
  }
}